@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div>
    <h1>Question</h1>
    <form action="">


        <table class="table">
            <tbody id="question"></tbody>

        </table>
        <input type="submit" value="Submit" />
    </form>
</div>
<script>
    $(document).ready(function (data) {
        

        var upQuestion = '';
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "https://localhost:5001/api/LoadQuestionForExam",
            dataType: "json",
            async: true,
            beforeSend: function () {
                nextRequestAllow = false;
            },
            complete: function () {

                nextRequestAllow = true;
            },
            success: function (data) {
                console.log(data)
                var table = document.getElementById('question')
                for (var i = 0; i < data.model.length; i++) {
                    var row = `<tr>
							<td>${data.model[i].name}</td>
							
					  </tr>
                      <tr>
                        <td><input id="${data.model[i].firstOption}" type="radio" name="${data.model[i].id}" class="rounded - bottom" value="${data.model[i].firstOption}" /> ${data.model[i].firstOption}</td>
							
                        </tr>
                       <tr>
                        <td><input id="${data.model[i].sceondOption}" type="radio" name="${data.model[i].id}" class="rounded - bottom" value="${data.model[i].sceondOption}" /> ${data.model[i].sceondOption}</td>

                        </tr>
                        <tr>
                        <td><input id="${data.model[i].thirdOption}" type="radio" name="${data.model[i].id}" class="rounded - bottom" value="${data.model[i].thirdOption}" /> ${data.model[i].thirdOption}</td>

                        </tr>
                        <tr>
                        <td><input id="${data.model[i].firstOption}" type="radio" name="${data.model[i].id}" class="rounded - bottom" value="${data.model[i].firstOption}" /> ${data.model[i].firstOption}</td>

                        </tr>
                      
                      `
                    table.innerHTML += row
                }
                
                
            }



        });
    });
</script>