@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .table td, .table th {
        border-top: none !important;
    }
</style>

<div>
    <label>Time: </label><span id="time001" style="font-size:inherit">60</span>
</div>
<div> 
    <h3 id="qname"></h3>
    
    <form action="">


        <table class="table">
            <tbody id="question"></tbody>

        </table>
        <button  onclick="readyAnswer()" value="Submit" />
    </form>
</div>
<script>
    var c = 60;
    var allQuestion;
    function timer001() {
        c = c - 1;
        if (c < 60) {
            time001.innerHTML = c;
        }

        if (c < 1) {
            window.clearInterval(update);
            message001.innerHTML = "Time's up";
            message002.innerHTML = "";
            message003.innerHTML = "";
            message004.innerHTML = "<button class=buttons002 onclick=repeat001()>Repeat</button>";
        }
    }

    update = setInterval("timer001()", 1000);

    function repeat001() {
        location.reload();
    }

</script>
<script>
    $(document).ready(function (data) {
        
        loadQuetion();
       
    });
    

function loadQuetion() {

    var classid = parseInt(getCookie('StudentClassId'));

    var upQuestion = '';
        const bodydata= {
            ExamId: 1,
            ClassId:classid,
        }
        //fetch('https://localhost:5001/api/LoadQuestionForExam', { method: 'POST', body: 'Hello' })
        //    .then(results => results.json())
        //    .then(console.log);
            

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "https://localhost:44326/api/LoadQuestionForExam",
            dataType: "json",
            //dataType: "text",
            data: JSON.stringify(bodydata), 
            async: true,
            beforeSend: function () {
                nextRequestAllow = false;
            },
            complete: function () {

                nextRequestAllow = true;
            },
            success: function (data) {
                console.log(data)
                allQuestion = data.model;
                //$("#qname").val('Exam Name'+data.model[0].name);
                $("h3").append(`Exam Name: ${data.model[0].name}`);
                var table = document.getElementById('question')


              
                for (var i = 0; i < data.model.length; i++) {
                    var row = `<tr>
                  
							<td>${i+1}: ${data.model[i].title}</td>
							
					  </tr>
                      <tr">
                        <td><input id="${data.model[i].firstOption}" type="radio" name="${data.model[i].id}" class="rounded - bottom" value="${data.model[i].firstOption}" /> ${data.model[i].firstOption}</td>
							
                        </tr>
                       <tr>
                        <td><input id="${data.model[i].sceondOption}" type="radio" name="${data.model[i].id}" class="rounded - bottom" value="${data.model[i].sceondOption}" /> ${data.model[i].sceondOption}</td>

                        </tr>
                        <tr>
                        <td><input id="${data.model[i].thirdOption}" type="radio" name="${data.model[i].id}" class="rounded - bottom" value="${data.model[i].thirdOption}" /> ${data.model[i].thirdOption}</td>

                        </tr>
                        <tr>
                        <td><input id="${data.model[i].fourthOption}" type="radio" name="${data.model[i].id}" class="rounded - bottom" value="${data.model[i].firstOption}" /> ${data.model[i].firstOption}</td>

                        </tr>
                      
                      `
                    table.innerHTML += row
                }
                
                
            }



        });

}

          function readyAnswer() {

                var arr = [];
                var len = allQuestion.length;
                 for (var i = 0; i < len; i++) {
                arr.push({
                    Id: allQuestion[i].id,
                    sortable: true,
                    resizeable: true
                });
            }
              console.log(arr);

            }

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = document.cookie.length;
                }
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }


</script>
