
@{
    ViewData["Title"] = "CreateStudentId";
}


<script>
        var app = angular.module('AssignApp', []);
        app.controller('AssignCtrl', function ($scope, $http, $sce) {
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
            $scope.showinput = false;

         angular.element(document).ready(function () {
            $scope.LoadAllClass();
        });
        $scope.trustAsHtml = function (html) {
            return $sce.trustAsHtml(html);
        }
           

         $scope.CreateStudent = () => {

            if (parseInt($scope.noofstudent)>20)
            {
                alert("Maximum 20 Students Can be added");
                return false;
            }
            $scope.showTable = false;
           /* $scope.showTable1 = false;*/
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
            console.log(Url);
            //$scope.showLoader = true;
            
            let classId = parseInt($scope.class);
            let assignModel = {
                Id: 0,
                Name:"",
                UserName: "",
                Password: "",
                ClassId: classId,
                PhoneNumber: "",
                Email:"",
                NoOfStudent: parseInt($scope.noofstudent)
                
            }
       
            $http.post(Url + 'UserRegister/', assignModel, { headers: { 'Content-Type': 'application/json' } })
                .then(response => {
                    console.log(response.data);
                    var str="<div>"
                    for (var i = 0; i < response.data.model.length; i++) {
                        str += hostName + ':' + portName + '/Account/CreateStudent?' + response.data.model[i].id ;
                        str +="<br>";
                    }
                    str+="</div>"
                    //$scope.IdText =  hostName+':'+portName+'/Account/CreateStudent?'+response.data.model.id;
                    $scope.IdText = str;
                    $scope.showinput = true;
                  
                  alert("Successfully Added")
                  
                }, error = (response) => {
                    console.log(response);
                    $scope.showLoader = false;
                });
        }

            $scope.LoadAllClass = () => {

         
                $http.get(Url + 'LoadAllClass/', { headers: { 'Content-Type': 'application/json' } })
                    .then(response => {
                        console.log(response.data);
                        $scope.classes=response.data.model
                       // alert(response.data);
                    }, error = (response) => {
                        console.log(response);
                    });

        }


            $scope.CopyText = () => {

                let cText = $scope.IdText;
               
                navigator.clipboard.writeText(cText); 
                alert(cText + "Copid Successfully");
                
                
                /* Copy the text inside the text field */

            }


        });
</script>

<h1>Create Student</h1>





<div ng-app ="AssignApp">
<div ng-controller="AssignCtrl">
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">No Of Student: </label>
  <input type="text" id="lname" name="lname" ng-model="noofstudent">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Class: </label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" ng-model=class>
  <option data-ng-repeat="t in classes" value="{{t.id}}">{{t.name}}</option>
  </select>
  <button type="submit" class="btn btn-primary my-1" ng-click="CreateStudent()">Generate New</button>


  <button type="submit" class="btn btn-primary my-1" ng-click="CopyText()">Copy Link</button>
  <div ng-bind-html="trustAsHtml(IdText)" ng-show="showinput"></div>
</form>
</div>
</div>