
@{
    ViewData["Title"] = "CreateClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
        var app = angular.module('AssignApp', []);
        app.controller('AssignCtrl', function($scope,$http) {
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
         angular.element(document).ready(function () {
     
            //$scope.loadCashRefundDoneFlag();
            $scope.showTable = true;
            $scope.LoadAllClass();
        });

         $scope.Save = () => {
            //$scope.showTable = false;
           /* $scope.showTable1 = false;*/
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
            console.log(Url);
            //$scope.showLoader = true;
            let classname = $scope.classname;
            let assignModel = {
                Name: classname
            }
            $http.post(Url + 'CreateNewClass/', assignModel, { headers: { 'Content-Type': 'application/json' } })
                .then(response => {
                    console.log(response.data);
                    if (response.data.model > 0) {
                        alert("Success");

                    }
                    else {

                        alert("Already Exist");
                    }
                   
                  
                  
                }, error = (response) => {
                    console.log(response);
                    $scope.showLoader = false;
                });
        }
          $scope.LoadAllClass = () => {
                $http.get(Url + 'LoadAllClass/', { headers: { 'Content-Type': 'application/json' } })
                    .then(response => {
                        console.log(response.data);
                        $scope.classes=response.data.model
                       // alert(response.data);
                    }, error = (response) => {
                        console.log(response);
                    });
        }

        

        
        });
</script>

<h3> Create New Class</h3>


<div ng-app ="AssignApp">
<div ng-controller="AssignCtrl">
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Class Name</label>
   <input type="text" class="form-control" placeholder="Class" aria-label="ClassName" aria-describedby="basic-addon1" ng-model="classname">

  <button type="submit" class="btn btn-primary my-1" ng-click="Save()">Submit</button>

     <table class="table table-stripe" >
   <thead><tr>
  
     <th> Class Id </th>
     <th> Class Name</th>
    </tr></thead>
   <tbody>
     <tr ng-repeat="m in classes">
       <td> {{ m.id }} </td>
       <td> {{ m.name }} </td>
       
     </tr>
   </tbody>
 </table>
</form>
</div>
</div>

