
@{
    ViewData["Title"] = "CreateStudentId";
}


<script>
        var app = angular.module('AssignApp', []);
        app.controller('AssignCtrl', function($scope,$http) {
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;

         angular.element(document).ready(function () {
  
        });
           

         $scope.CreateStudent = () => {
            $scope.showTable = false;
           /* $scope.showTable1 = false;*/
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
            console.log(Url);
            //$scope.showLoader = true;
            let teacher = parseInt($scope.teacher);
            let classId = parseInt($scope.class);
            let assignModel = {
                Id: 0,
                Name:"",
                UserName: "",
                Password: "",
                ClassId: 0,
                PhoneNumber: "",
                Email:""
            }
       
            $http.post(Url + 'UserRegister/', assignModel, { headers: { 'Content-Type': 'application/json' } })
                .then(response => {
                    console.log(response.data);
                     $scope.IdText =  response.data.model.id;
                  
                  alert("Assign Successfull")
                  
                }, error = (response) => {
                    console.log(response);
                    $scope.showLoader = false;
                });
        }



        });
</script>

<h1>Create Student</h1>





<div ng-app ="AssignApp">
<div ng-controller="AssignCtrl">
<form class="form-inline">

  <button type="submit" class="btn btn-primary my-1" ng-click="CreateStudent()">Create</button>
  <span id="myspan" contenteditable="true" ng-bind="IdText"></span><br><br><br>
</form>
</div>
</div>