
@{
    ViewData["Title"] = "CreateStudentId";
}


<script>
        var app = angular.module('AssignApp', []);
        app.controller('AssignCtrl', function($scope,$http) {
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
            $scope.showinput = false;

         angular.element(document).ready(function () {
  
        });
           

         $scope.CreateStudent = () => {
            $scope.showTable = false;
           /* $scope.showTable1 = false;*/
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
            console.log(Url);
            //$scope.showLoader = true;
            let teacher = parseInt($scope.teacher);
            let classId = parseInt($scope.class);
            let assignModel = {
                Id: 0,
                Name:"",
                UserName: "",
                Password: "",
                ClassId: 0,
                PhoneNumber: "",
                Email:""
            }
       
            $http.post(Url + 'UserRegister/', assignModel, { headers: { 'Content-Type': 'application/json' } })
                .then(response => {
                    console.log(response.data);
                    $scope.IdText =  response.data.model.id;
                    $scope.showinput = true;
                  
                  alert("Successfully Added")
                  
                }, error = (response) => {
                    console.log(response);
                    $scope.showLoader = false;
                });
        }


            $scope.CopyText = () => {

                let cText = $scope.IdText;
               
                navigator.clipboard.writeText(cText); 
                alert(cText + "Copid Successfully");
                
                
                /* Copy the text inside the text field */

            }


        });
</script>

<h1>Create Student</h1>





<div ng-app ="AssignApp">
<div ng-controller="AssignCtrl">
<form class="form-inline">

  <button type="submit" class="btn btn-primary my-1" ng-click="CreateStudent()">Create New</button>
  <input type="text" id="lname" name="lname" ng-model="IdText" ng-show="showinput">


  <button type="submit" class="btn btn-primary my-1" ng-click="CopyText()">Copy Link</button>
</form>
</div>
</div>