@{
    ViewData["Title"] = "ShowExamMarks";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


<script>
        var app = angular.module('AssignApp', []);
        app.controller('AssignCtrl', function($scope,$http) {
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
         angular.element(document).ready(function () {
            
            $scope.LoadAllExam();
            //$scope.loadCashRefundDoneFlag();
            $scope.Showtable = true;
        });
           

            $scope.LoadAllExam = () => {
                $http.get(Url + 'LoadAllExamResult/', { headers: { 'Content-Type': 'application/json' } })
                    .then(response => {
                        console.log(response.data);
                        $scope.marks=response.data.model
                       // alert(response.data);
                    }, error = (response) => {
                        console.log(response);
                    });
        }

        

        });
</script>

<h3> All Results</h3>


<div ng-app ="AssignApp">
<div ng-controller="AssignCtrl">
<form class="form-inline">
 @*  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Class</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" ng-model=class>
  <option data-ng-repeat="t in classes" value="{{t.id}}">{{t.name}}</option>
  </select>*@

   <table class="table table-stripe" ng-show="Showtable" >
   <thead><tr>
     <th>Exam Name</th>
     <th> Marks </th>
     <th> Total Marks </th>
    </tr></thead>
   <tbody>
     <tr ng-repeat="m in marks">
       <td> {{ m.questionName }}</td>
      
       <td> {{ m.marks }} </td>
       <td> {{ m.totalMarks }} </td>
       
     </tr>
   </tbody>
 </table>
</form>
</div>
</div>
