
@{
    ViewData["Title"] = "UploadLoadQuestion";
}

<h1>UploadLoadQuestion</h1>

<form method="post" asp-controller="Teacher" asp-action="UploadExcel" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" name="file"/>
    <button type="submit" >
        Upload
    </button>
  </div>
</form>






