
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateStudent</title>

      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.angularjs.org/1.2.14/angular.js"></script>
    <style>

        .gradient-custom-3 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    </style>
</head>
<body>



<script>
        var app = angular.module('AssignApp', []);
        app.controller('AssignCtrl', function($scope,$http) {
            $scope.showdiv = false;

            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
         angular.element(document).ready(function () {
/*
             const params = new URLSearchParams(window.location.search)
           for (const param of params) {
                console.log(param)
                     }*/    
               
                $scope.CheckValidity()
            });
           

         $scope.CreateStudent = () => {
            $scope.showTable = false;
             let idQString ='';
             const params = new URLSearchParams(window.location.search)
           for (const param of params) {
              idQString = param[0];

             }
           /* $scope.showTable1 = false;*/
            let Url = "";
            let hostName = window.location.protocol + "//" + window.location.hostname;
            let portName = window.location.port;
            Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
            console.log(Url);
            //$scope.showLoader = true;
            let teacher = parseInt($scope.teacher);
            let classId = parseInt($scope.class);
            let un= $scope.studentName.replace(/\s/g, "")+Math.floor(Math.random() * 100)
            let assignModel = {
                Id: parseInt(idQString),
                Name:$scope.studentName,
                UserName: un,
                Password: $scope.password,
                PhoneNumber: $scope.mobile,
                Email:$scope.email,
                IsValid:0

            }
       
            $http.post(Url + 'UpdateStudent/', assignModel, { headers: { 'Content-Type': 'application/json' } })
                .then(response => {
                    console.log(response.data);
                    $scope.IdText =  response.data.model.id;
                    $scope.showinput = true;
                  
                  alert(un+" Successfully Added")
                  
                }, error = (response) => {
                    console.log(response);
                    $scope.showLoader = false;
                });
        }

            $scope.CheckPassword = () => {
                var inputtxt = $scope.password;
                var passw = /^[A-Za-z]\w{7,14}$/;
                if (passw.test(inputtxt)) {
                    /*alert('Correct, try another...')*/
                    $scope.CreateStudent();
                }
                else {
                    alert(' Too Easy Password ,Try a different password')
                    return false;
                }
         }

         $scope.CheckValidity = () => {
                $scope.Showdiv = false;
                $scope.showTable = false;
                let idQString = '';
                const params = new URLSearchParams(window.location.search)
                for (const param of params) {
                    idQString = param[0];

                }
                /* $scope.showTable1 = false;*/
                let Url = "";
                let hostName = window.location.protocol + "//" + window.location.hostname;
                let portName = window.location.port;
                Url = `${hostName}${portName != "" ? `:${portName}/api/` : `/api/`}`;
                console.log(Url);
                //$scope.showLoader = true;
                let teacher = parseInt($scope.teacher);
                let classId = parseInt($scope.class);
             /*   let un = $scope.studentName.replace(/\s/g, "") + Math.floor(Math.random() * 100)*/
                let assignModel = {
                    Id: parseInt(idQString),
                    Name: $scope.studentName,
                    UserName: '',
                    Password: $scope.password,
                    PhoneNumber: $scope.mobile,
                    Email: $scope.email,
                    IsValid: 0,
                    IsApproved:0

                }

                debugger;
                $http.post(Url + 'CheckLinkValidity/', assignModel, { headers: { 'Content-Type': 'application/json' } })
                    .then(response => {
                        console.log(response.data);
                        $scope.IdText = response.data.model.isvalid;
                        var link = `${hostName}:${portName}/Account/LinkNotFound`;
                        if (response.data.model.isValid == 0) {
                            window.location.replace(link);
                        }
                        else
                        {
                            $scope.showdiv = true;
                        }
                        

                    }, error = (response) => {
                        console.log(response);
                        $scope.showLoader = false;
                    });
            }

            $scope.CopyText = () => {

                let cText = $scope.IdText;
               
                navigator.clipboard.writeText(cText); 
                alert(cText + "Copid Successfully");
                
                
                /* Copy the text inside the text field */

            }


        });
</script>
<div ng-app ="AssignApp">
<div ng-controller="AssignCtrl">

  <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3" ng-show="showdiv"sh>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create Student Account</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" ng-model="studentName"/>
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" ng-model="email" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>
                
                <div class="form-outline mb-4">
                  <input type="mobile" id="form3Example3cg" class="form-control form-control-lg" ng-model="mobile" />
                  <label class="form-label" for="form3Example3cg">Mobile</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" ng-model="password" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <p>Input Password and Submit [7 to 15 characters which contain only characters, numeric digits, underscore and first character must be a letter]</p>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" ng-click="CheckPassword()">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/Home/StudentLogin"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>

</body>
</html>
